/* ScrollBar.module.css */

.customScrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: #FBB700;
  border-radius: 9999px;
  /* Fully rounded thumb */
  margin: 2px;
  /* Optional: adds spacing inside the track */
  border: 2px solid transparent;
  background-clip: content-box;
}

.customScrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #fbb700;
}

.customScrollbar::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
  /* Rounded track to blend with modal corners */
  margin: 4px;
  /* Keeps the thumb inset from the edges */
}

/* Firefox support */
.customScrollbar {
  scrollbar-width: thin;
  scrollbar-color: #FBB700 transparent;
}